.form{
    overflow: hidden;
  }
  .v-enter{
    transform: translate3d(-100%,0,0)
  }
  .v-enter-to{
    transform: translate3d(0,0,0)
  }
  .v-enter-active,.v-leave-active{
    transition: transform .3s;
  }
  .v-leave{
    transform: translate3d(0,0,0)
  }
  .v-leave-to{
    transform: translate3d(100%,0,0)
  }
  .tab{
    position: relative;
  }
  .tab>div{
    position: absolute;
    top:0
  }
  .box{
    width:100%;
    height:100%;
    background:url('../../../static/2.jpg');
  }
  .form{
    position: absolute;
    right:10%;
    bottom:170px;
    width:280px;
    height:350px;
    border-radius: 5px;
    background: #fff
  }
  .tit{
    height:45px;
    display: flex;
  }
  .tit span{
    color:#666;
    cursor: pointer;
    flex:1;
    text-align: center;
    line-height: 45px;
  }
  .tit span.show{
    background: #eee;
  }
